In [2]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_columns',None)

## Loading the Dataset

In [5]:
df = pd.read_csv('./data/test.csv')
df.head()

                                            comments  sentiments language
0  "यह वीडियो समय की बर्बादी है, मैंने कुछ नहीं स...        -1.0    hindi
1  "The presenter's voice is so annoying, I could...        -1.0       en
2  \n"Terrible explanation, I'm more confused now...        -1.0       en
3  "Why do you even bother making videos if you d...        -1.0       en
4  "I can't believe people actually find this use...        -1.0       en

In [6]:
df.dropna(inplace=True)
df = df[df['language'] == 'en']
df.head()

                                            comments  sentiments language
1  "The presenter's voice is so annoying, I could...        -1.0       en
2  \n"Terrible explanation, I'm more confused now...        -1.0       en
3  "Why do you even bother making videos if you d...        -1.0       en
4  "I can't believe people actually find this use...        -1.0       en
6  "You call this education? It's more like tortu...        -1.0       en

In [7]:
df.shape

(46, 3)